@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('../fonts/NeueHaasGroteskTextPro-Italic.woff2') format('woff2'),
      url('../fonts/NeueHaasGroteskTextPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('../fonts/NeueHaasGroteskTextPro.woff2') format('woff2'),
      url('../fonts/NeueHaasGroteskTextPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
