body {
  background-color: $dark-gray;
  background-image: url(../images/background.jpg);
  background-size: 100%;
  font-family: $base-font;
  color: $white;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: .4em;
  }
}